<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="CSS/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="CSS/indexcss.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
    </script>
</head>

<body>
    <header>
        <h1>E-Sports Madness</h1>
        <p>Pagina web de final de Ciclo</p>
    </header>
    <ul id="proyecto">
        <h3>Lista Juegos</h3>
        <div class="juegos">
            <div v-for='juego in juegos'>
                <h1>{{juego.Nombre}}</h1>
                <img v-bind:src="'./IMG/Juegos/' + juego.Imagen" width="100" height="100" />
                <p>{{juego.Plataforma}}</p>
            </div>
        </div>

        <br>

        <h3>Lista Ligas</h3>
        <div class="ligas">
            <div v-for='liga in ligas'>
                <h1>{{liga.Nombre}}</h1>
                <img v-bind:src="'./IMG/Ligas/' + liga.Imagen" width="100" height="100" />
            </div>
        </div>
        <br>

        <h3>Lista Equipos</h3>
        <div class="equipos">
            <div v-for='equipo in equipos'>
                <h1>{{equipo.Nombre}}</h1>
                <img v-bind:src="'./IMG/Equipos/' + equipo.Logo" width="100" height="100" />
            </div>
        </div>
        <br>

        <h3>Lista Jugadores</h3>
        <div class="jugadores">
            <div v-for='jugador in jugadores'>
                <h1>{{jugador.Nombre}}</h1>
                <img v-bind:src="'./IMG/JugadoresYEntrenadores/' + jugador.Imagen" width="100" height="100" />
                <p>{{jugador.Rol}}</p>
            </div>
        </div>

        <br>

        <h3>Lista Entrenadores</h3>
        <div class="entrenadores">
            <div v-for='entrenador in entrenadores'>
                <h1>{{entrenador.Nombre}}</h1>
                <img v-bind:src="'./IMG/JugadoresYEntrenadores/' + entrenador.Imagen" width="100" height="100" />
            </div>
        </div>
    </ul>
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="JS/funcions.js"></script>
<!--<script src="js/componentes.js"></script>-->

</html>